* {
    box-sizing: border-box;
}

body {
    width: 1080px;
    height: 2340px;
    /* font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif; */
}

.barra-topo {
    height: 92px;
    /* padding: 20px 0 18px 21px; */
    padding: 4px 0 0 21px;
    background: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barra-topo h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #ffffff;
}

.barra-topo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}